.right .noacc {
    padding-top: 5px;
    font-size: 18px;
    color: #9EA0A4;
}
.right .forgot {
    padding-top: 5px;
    font-size: 18px;
}
.right .noacc a:hover {
    color: #B0C7F7; /* Je sais pas non plus */
}
.right .forgot:hover {
    color: #B0C7F7; /* Je sais pas non plus */
}