* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html, body {
    height: 100%;
    background-color: #1C2026;
    overflow-x: hidden;
}

body {
    padding: 0;
    margin: 0;
    background-color: #1C2026;
}


.clearfix button:focus {
    outline:none;
}
.clearfix button {
    margin-top: 30px;
    color: #9EA0A4;
    font-size: 18px;
    background-color: #2B2E36;
    border: 0;
    border-radius: 50px;
    width: 180px;
    height: 60px;
    cursor: pointer;
    transition: .3s all ease;
}
.clearfix button:hover {
    background-color: #282B33;
    transition: .3s all ease;
    color: #B0C7F7;
}
@media screen and (max-width: 1024px){
    body{
        flex-wrap: wrap;
    }
}
input:focus::placeholder {
    color: transparent;
    transition: .15s all ease;
}